body{
    display: block;
    overflow-x: hidden;
    font-family: 'Josefin Sans', sans-serif;
}

nav{
    background-color: #F3A1A1;
    font-family: 'Josefin Sans', sans-serif;
}

.navbar-brand{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 24px;
    text-transform: uppercase;
    font-weight:900;
    color: black;
}

nav ul li a{
    color: black;
    font-size:22px;
    margin: auto 10px;
}

section{
    padding-top: 50px;
    padding-bottom: 50px;
}

section h1{
    font-family: 'Josefin Sans', sans-serif;
    text-transform: uppercase;
    font-weight: 900;
    color: black;
    text-align: left;
    margin-bottom: 20px;
}

section p{
    font-size: 16px;
    font-weight: 300;
    color: black;
}

button{
    max-width: 50px;
    border-radius: 50px;
    background-color: #F3A1A1;
    color: black;
}
#hero .col{
    width: 50%;
    padding: 20px;
}

#hero .img-col{
    width: 50%;
}

#hero img {
    border-radius: 50%;
}